<!DOCTYPE html>

<!--[if lt IE 7]>      <html lang="en" ng-app="baseApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="baseApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="baseApp" class="no-js lt-ie9"> <![endif]-->

<!--[if gt IE 8]><!--> <html lang="en" <%-appName%> class="no-js"> <!--<![endif]-->

<head>

  <% include ../partials/head.ejs%>
  <!-- standard assets  -->
  <%-locals.stdAssets%>
  <!-- application assets  -->
  <%-locals.appAssets%>

</head>

<body>
  <div id="page">

    <!-- Sidebar -->
    <div id="sb-wrapper">
        <div class="sb-profile">
        <div class="bg">
        <%if (locals.user !== undefined) { %>
        <br>
        <br>
        <div class="menu-profile-pic"><img src="<%=locals.user.avatar%>"></div>
        <div class="menu-profile-name">
					<%=locals.user.name.first%> <%=locals.user.name.last%><br/>
					<span style="font-size: 80%;"><%=locals.user.jobTitle%></span><br/>
          <br>
				</div>
        </div>
        <% } %>
      </div> <!-- sb-profile end -->
      <%-locals.menu %>
    </div> <!-- sb-wrapper -->

    <!-- Page Content -->
    <div id="pg-content-wrapper">
      <div class="pg-content">
        <div class="ng-content">
        <%- body%>
        </div>
      </div> <!-- end container -->
    </div> <!-- page-content-wrapper -->
  </div> <!-- end of page wrapper -->
<!-- Menu Toggle Script -->
</body>

</html>
