<h1>Application error!!!</h1>
<h6>env: <%= err.env %></h6>
<hr/>
<p/>

Status Code: <%= err.status %><br/>
Message: <%= err.message %><br/>
Help: <%= err.help %><br/>
<br/>
Further details:	<br/>
<pre>
<%= err.trace %>
</pre>